/* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 1680px;
    padding: 0 260px;
    outline: 1px solid lightgreen;
    box-sizing: border-box;
    display: block;

    /* background-color: violet; */
}
.container {
    outline: 1px solid tomato;
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-title {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 1160px;
    height: 712px;
    background-image: url(../img/Rectangle\ 22.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    /* padding: -20px; */
    margin: 0;

}

header {
    /* background-color: #333; */
    /* color: #fff; */
    height: 304px;
    padding-top: 28px;
    padding-bottom: 38px;
}

h1 {
    margin: 0;
    padding: 0;
}

main {
    /* padding: 20px; */
}

/* section {
    margin-bottom: 40px;
} */

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Rectangle 7

position: absolute;
width: 660px;
height: 381px;
left: 260px;
top: 1141px;

background: url(07.jpg); */


